<p>
  <b>Data cadastro:</b>
  <%=h @fornecedore.data_cadastro %>
</p>

<p>
  <b>Nome:</b>
  <%=h @fornecedore.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @fornecedore.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%=h @fornecedore.bairro %>
</p>

<p>
  <b>Cnpj:</b>
  <%=h @fornecedore.cnpj %>
</p>

<p>
  <b>Ins estadual:</b>
  <%=h @fornecedore.ins_estadual %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @fornecedore.telefone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @fornecedore.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @fornecedore.email %>
</p>

<p>
  <b>Site:</b>
  <%=h @fornecedore.site %>
</p>

<p>
  <b>Cep:</b>
  <%=h @fornecedore.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @fornecedore.cidade.nome %>
</p>


<%= link_to 'Edit', edit_fornecedore_path(@fornecedore) %> |
<%= link_to 'Back', fornecedores_path %>

