<p>
  <b>Data cadastro:</b>
  <%=h @produto.data_cadastro %>
</p>

<p>
  <b>Nome:</b>
  <%=h @produto.nome %>
</p>

<p>
  <b>Tamanho:</b>
  <%=h @produto.tamanho %>
</p>

<p>
  <b>Valor compra:</b>
  <%=h @produto.valor_compra %>
</p>

<p>
  <b>Valor venda:</b>
  <%=h @produto.valor_venda %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @produto.quantidade %>
</p>

<p>
  <b>N nota fiscal:</b>
  <%=h @produto.n_nota_fiscal %>
</p>

<p>
  <b>Fornecedore:</b>
  <%=h @produto.fornecedore.nome %>
</p>

<p>
  <b>Categoria:</b>
  <%=h @produto.categoria.nome %>
</p>


<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>

