<p>
  <b>Nome:</b>
  <%=h @funcionario.nome %>
</p>

<p>
  <b>Login:</b>
  <%=h @funcionario.login %>
</p>

<p>
  <b>Senha:</b>
  <%=h @funcionario.senha %>
</p>

<p>
  <b>Endereco:</b>
  <%=h @funcionario.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%=h @funcionario.telefone %>
</p>

<p>
  <b>Data entrada:</b>
  <%=h @funcionario.data_entrada %>
</p>

<p>
  <b>Status:</b>
  <%=h @funcionario.status %>
</p>

<p>
  <b>Cargo:</b>
  <%=h @funcionario.nome %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @funcionario.nome %>
</p>


<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>

